.Mainside {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.logos{
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.logo{
  padding: 1.5rem;
}

.need-button{
  background-color: white;
  color: #ffd050;
  border: 3px solid #ffd050;
}

.job-button{
  background: #ffd050;
  color: white;
  border: 3px solid #ffd050;
}

.need-button:hover{
  background: #ffd050;
  color: white;
}

.job-button:hover{
  background-color: white;
  color: #ffd050;
  border: 3px solid #ffd050;
}

.about .header{
  color: #ffd050;
}
.question{
  cursor: pointer;
  margin-bottom: 1rem;
}

.discounts {
  width: 100%;
  padding: 3rem;
  display: flex;
}

.discount-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffd050;
  border-right: 3px solid black;
  color: #ffd050;
  padding: 2rem 5rem;
  background-color: #f3f0e9;
}

.discount-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffd050;
  color: #ffd050;
  padding: 2rem 5rem;
  background-color: #f3f0e9;
}

.text-container {
  width: 100%;
}

.text-area {
  padding: 2rem;
}

.image1,
.image2,
.image3,
.text1,
.text2,
.text3 {
  width: 50%;
}

.textcode2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

.hdr{
    color: #ffd050;
}


@media screen and (max-width: 880px) {
  .text-area {
    padding: 0;
  }

  .image1,
  .image2,
  .image3,
  .text1,
  .text2,
  .text3 {
    width: 100%;
  }

  .textcode2{
    flex-direction: row;
  }

  .discounts{
    display: none;
  }

  .text, .textcode2{
    row-gap: 2rem;   
}

}


